
<header>
<h1>Welcome to Newspoll</h1>
<button id="getnews" type="submit">Get Latest News</button>
</header>  

<section>
  <h2>View news and write note</h2>
  <section>
    <hr>
    {{#each articles}}
      <div>
        Article: <a href="https://www.nytimes.com{{this.link}}">{{this.title}}</a>
        <br>
        Summary: {{this.summary}}
        <br>
        Note Title: <input id="titleinput{{this._id}}" type="text" size="25" value={{this.note.title}}> 
        Note Body: <input id="bodyinput{{this._id}}" type="text" size="75" value={{this.note.body}}>
        <button id="savenote" type="submit" data-article-id={{this._id}}>Update Note</button>
        <button id="deletenote" type="submit" data-article-id={{this._id}} data-note-id={{this.note._id}}>Delete Note</button>
        <hr>
      </div>
    {{/each}}
  </section>

<footer>
  @Rutgers Coding Bootcamp Himanshu Pandit
</footer>